/*手写媒体查询，控制iframe的高度*/
.my_footer,.my_header{
    width:100%;
}
@media screen and (min-width: 992px){
    .my_header{height:5rem;}
    .my_footer{height:16rem;}
}
@media screen and (max-width: 991px){
    .my_header{height:11rem;}
    .my_footer{height:30rem;}
}
/*轮播图左右箭头*/
.carousel-control-prev,
.carousel-control-next{
    background-color:rgba(0,0,0,0.3);
    width:4%;
    height:20%;
    border-radius:0.35rem;
    top:40%;
}

/*轮播指示器*/
.carousel-indicators li{
    width:0.7rem;height:0.7rem;
    border-radius: 50%;
}
.carousel-indicators li.active{
    background-color: #00a1ed;
}

/*首页推荐 /1F*/
.my-top-height{
    height:377px;
    background-color: #e5e5e5;
}
.my-bottom-height{
    height:235px;
    background-color: #e8e8e8;
}
/*card 背景色*/
.card{
    background-color: transparent;
}
/*图片的 媒体查询*/
@media screen and (min-width: 992px){
    .my_img_position{
        margin-top: -180px;
        margin-right:20px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .my_img_position{
        margin-top: -180px;
        margin-right:15px;
        width:20rem;
    }
}
@media screen and (max-width:767px){
    .my_img_position{
        margin-top: -180px;
        margin-right:20px;
    }
}
.my_img_position{
    transition: transform 1s;
}
.my_img_position:hover{
    transform: scale(1.1);
}
