/*ÂÖ²¥Í¼×óÓÒ¼ýÍ·*/
.carousel-control-prev,
.carousel-control-next{
    background-color:rgba(0,0,0,0.3);
    width:4%;
    height:20%;
    border-radius:0.35rem;
    top:40%;
}

/*ÂÖ²¥Ö¸Ê¾Æ÷*/
.carousel-indicators li{
    width:0.7rem;height:0.7rem;
    border-radius: 50%;
}
.carousel-indicators li.active{
    background-color: #00a1ed;
}

/*Ê×Ò³ÍÆ¼ö /1F*/
.my-top-height{
    height:377px;
    background-color: #e5e5e5;
}
.my-bottom-height{
    height:235px;
    background-color: #e8e8e8;
}
/*card ±³¾°É«*/
.card{
    background-color: transparent;
}
/*Í¼Æ¬µÄ Ã½Ìå²éÑ¯*/
@media screen and (min-width: 992px){
    .my_img_position{
        margin-top: -180px;
        margin-right:20px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .my_img_position{
        margin-top: -180px;
        margin-right:15px;
        width:20rem;
    }
}
@media screen and (max-width:767px){
    .my_img_position{
        margin-top: -180px;
        margin-right:20px;
    }
}
.my_img_position{
    transition: transform 1s;
}
.my_img_position:hover{
    transform: scale(1.1);
}
