.bg_gray{
    background:linear-gradient(to bottom,#f0f0f0,#e0e0e0);
    line-height: 1.5rem;
}
.my_img1{
    width:1.25rem;
}

/*加减中间的input的宽设置*/
.my_input_width{
    width:10%;
    border:0;
    outline:0;
}
/*分页条*/
.pagination>li.page-item{
    margin-left: 2px;
    margin-right: 2px;
}
.pagination>li.page-item>a{
    border-radius: 3px;
}
/*购物车里面的input*/
.my_input_width1{
    width:2rem;
}
.my-button-size{
    height:1.5rem;
    width:1.5rem;
    padding:0;
}
.border-top{
    border-top-style:dashed!important;
}